.skiplinks {
  position: relative;
  background-color: var(--background);
}

.skiplinks:focus-within {
  margin: 0.5rem;
  padding: 1rem 2rem;
  opacity: 1;
}

.skiplinks:not(:focus):not(:focus-within) {
  position: absolute !important;
  border: 0 !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.skiplinks a {
  padding: 0.5rem;
  border: 1px solid var(--pastel-dark);
  border-radius: 8px;

  background-color: var(--pastel-dark);
  color: #fff;
  transition: all 0.3s ease;

  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
}

.list {
  display: flex;

  padding: 0;
  margin: 0;
  gap: 1rem;

  list-style: none;
}

@media (max-width: 768px) {
  .list {
    flex-direction: column;
  }

  .skiplinks li {
    padding: 0.6rem 0;
  }
}
