.features {
  padding: 5rem 0;
  background-color: var(--background);
}

.features hr {
  display: block;
  border: 1px solid var(--border);
  margin: 2rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.title {
  font-size: 2.5rem;
  color: var(--primary);
  text-align: center;
  margin-bottom: 3rem;
}

.groupTitleParent {
  display: flex;
  flex-direction: row-reverse;
  
}


.featureGroupContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.featureGroup {
  flex: 1;
}

.groupTitle {
  font-size: 1.8rem;
  color: var(--text);
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.icon {
  font-size: 2rem;
}

.featureGrid {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 3rem;
}

.featureCard {
  background-color: var(--card-background);
  border-radius: 16px;
  padding: 1.75rem 1.75rem 0.75rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  min-height: 9rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.featureCard h4 {
  color: var(--primary);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.featureCard p {
  color: var(--text-secondary);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .features {
    padding: 3rem 0;
  }
  
  .featureGrid {
    grid-template-columns: 1fr;
  }
}
