.footer {
  background-color: var(--card-background);
  padding: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo span {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
}

@media (max-width: 768px) {
  .top {
    flex-direction: column;
    gap: 2.5rem;
  }
}
